<div class='panel panel-default'>
  <div class='panel panel-heading'><%= @mooc.nom %></div>
  <ul class='list-group'>
    <li id="mooc" class='list-group-item'>
    <%= render 'moocs/showmooc' %>
    </li>
    <li id="fichier" class='list-group-item'>
      <h2>Fichiers</h2>

      <div class='well'>
        <% @rendu="structure" %>
        <%= render 'fichiers/fichiersmoocs' %>
        <% @rendu="log" %>
        <%= render 'fichiers/fichiersmoocs' %>

      </div>
    </li>
  </ul>
</div>
