<div class='panel panel-default'>
  <div class='panel panel-heading'><%= @mooc.nom %></div>
  <ul class='list-group'>
    <li id="mooc" class='list-group-item'>
    <%= render 'moocs/showmooc' %>
    </li>
    <li id="fichier" class='list-group-item'>
    <div class="row">
      <h2 class="col-sm-6 col-sm-offset-1">Fichiers</h2>-
    </div>

      <div class='well'>
        <% @rendu="structure" %>
        <%= render 'fichiers/fichiersmoocs' %>
        <% @rendu="log" %>
        <%= render 'fichiers/fichiersmoocs' %>

      </div>
    </li>
    <li id="bdd_script" class='list-group-item'>
    <div class="row">
      <h2 class="col-sm-6 col-sm-offset-1">Scripts</h2>
      <button id="refresh-script" class="btn btn-info btn-xs col-sm-1 col-sm-offset-3 refresh-scripts">Actualiser</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Nom du script</th>
          <th>État</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="bdd-script-container">
      </tbody>
    </table>
    <button id="run-all" class="btn btn-success">Lancer tous les scripts</button>
    <script>prepareScript()</script>
    </li>
  </ul>
</div>
